<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <h1 class="npb-blog-title text-white p-3">プロ野球掲示板</h1>
    <p class="lead">好きなプロ野球の話題について語り会おう！！</p>
  </div>
</div>
<div class="container">
</div>